 nav{
    display: flex;
    justify-content: space-between;
 }
 
 .navi{
   display: flex;list-style-type: disc; list-style-image: url(../As-01/assets/CheckCircle.png); justify-content: space-between ; list-style: none; padding-left: 32px; gap: 32px;}
   nav .btn{
margin: 24px 120px;
 border-color: aliceblue; color: antiquewhite;
background-color: #30B868;
font-weight: 600PX;
font-size: 16PX; gap: 10;width: 164px;height: 44px; align-items: center;
   }
   .btn{
      
   }
   nav img {
      margin: 16px 120px;
   }
   .type{
      font-size: 16px;
      font-weight: 500;
      font-style: medium ;
text-align: center; 
   }
  .dj{
   
display: flex;
   
  }
  {
   font-style: Bold;
font-size: 72px;
font-weight: 700;text-align: center;
  }
   .had  {
   font-style: Bold;
font-size: 72px;
font-weight: 700; text-align: center;  margin: 0px; }
.kota{
    text-align: center;
font-size: 18px;font-weight: 400;
margin: 0cap;  
}
.vlt{
    font-style: Semi Bold;
font-size:23px;
font-weight: 600;
line-height: 19px;
 padding: 16;
   background-color: #30B868;color: aliceblue;border-style: none; padding: 15px;;
  

}
.see {
    font-style: Semi Bold;
font-size:23px;
font-weight: 600;
line-height: 19px;
 padding: 16px;border-style: none; border: white ; gap: 10px;   background-color: rgb(57, 57, 148);color:w;
}
.pagol   {
   justify-content: center;text-align: center; margin: 
}
 .kak{
   background-image: url(./assets/hero-bg.png) ; height: 1000px;
height: 600px;margin-top: 53px;  margin-top: -60px;
       
 }
 .par{
align-items: center ; justify-content: center;margin: 0PX 350PX; gap: 0px; padding: 0cap;
 }
 .mota{
   font-style: Bold;
font-size: 48px;
font-weight: 700;text-align: center;
 color: #001931; padding-bottom: 0px;margin-bottom: 0px;} 
 .choto{
    font-size: 16px;
font-weight: 400;text-align: center;padding-top: 0px; margin-top: 0px;}
.ima{
    width: 32px;
height: 32px; background-color: rgba(249, 85, 85, 1); border-radius: 50% ; padding: 5px;
}
.title{
   font-style: Semi Bold;
font-size: 24px;
font-weight: 600;
line-height: 29px;
}
.sub{
font-size: 16px;
font-weight: 400;
line-height: 20px;
}
.card{
   display:list-item; border-radius: 12px;padding: 12px;width: 322px;
height: 200px;gap: 16; 
 list-style: none; margin-left: 50px ;border: 1px solid rgb(198, 184, 184); padding: 10PX; padding-bottom: 0PX;}
   .bap  {
      display: flex; margin-left: 50px;
   }
   .diva{
    order: 1px solid green;
   border-radius: 999px;
   padding: 0px; color: #30B868;
   align-items: center;
   display: flex;
   justify-content: center; margin: 80px  auto; background-color: aliceblue;  width: 229px;
height: 36px;
   }
   
    .fth{
      font-size: 20px;color: #627382;padding-top: 0px ;
font-weight: 500; text-align: left;
    }
    .im{
      width: 10px;
height: 10px;
    }
    .trd{

      font-size: 16px;
font-weight: 500;
line-height: 20px;
    }
    .snd{
      font-style: Bold;
font-size: 48px;
font-weight: 700; padding: 0px; padding-bottom: 0px;
    }
    .ist{
      padding: 0px; margin-top: 50px;
    }
    .brain
   {
      margin-left: 350px;    
   }
   .ist{
margin-left: 100px;
margin-right: 100px;
   }
   .frame{
      display: flex; 
   }
    .footer{
         display: block;   ;gap: 24;margin-left: 100px; margin-right: 300px;
padding: 80px 40px 80px 40px; background-color: ;
    }
    .button{
     
 border-color: aliceblue; color: aliceblue;
background-color: #30B868;
font-weight: 600PX;
font-size: 18PX; gap: 10;width: 170px;height: 50px;  
    }
    .pagol{
       margin-left: 300px;
    }
    .oh{
      height: 15px;width: 18px;
    }

     .kok{
   font-size: 40px;font-weight: 700;text-transform: capitalize; 
     }
     .ah{
      margin-top: 16px;
     }
     .free{
      font-size: 16px;
font-weight: 400;font-size: 16px;
font-weight: 400; 
     }
     .end{
     background-color: rgba(0, 25, 49, 1);
     }
     